<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>690471393541-fomuosbpjsb2nc80ncq1ndv7clq5pffo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.690471393541-fomuosbpjsb2nc80ncq1ndv7clq5pffo</string>
	<key>API_KEY</key>
	<string>AIzaSyCU3PFHcOjwOB_EJlOxXpanh7my3X9l0eQ</string>
	<key>GCM_SENDER_ID</key>
	<string>690471393541</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>adcstack.breakpoint</string>
	<key>PROJECT_ID</key>
	<string>breakpoint-6840b</string>
	<key>STORAGE_BUCKET</key>
	<string>breakpoint-6840b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:690471393541:ios:3e0b4b8fb1284140</string>
	<key>DATABASE_URL</key>
	<string>https://breakpoint-6840b.firebaseio.com</string>
</dict>
</plist>